/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import 'bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
body{
    font-family: "Poppins", sans-serif;
}


body.dark-mode {
  background-color: #121212;
  color: #e0e0e0;

  .queuecut-home,
  .footer,
  .header,
  .nav,
  .hero,
  .how-it-works,
  .features-section,
  .popular-services,
  .download-app,
  .testimonials-3d-section {
    background-color: #121212;
    color: #e0e0e0;
  }

  .feature-card.asymmetric-left {
    background: linear-gradient(135deg, #1f1f1f, #333);
  }

  .feature-card.asymmetric-right {
    background: linear-gradient(135deg, #2c2c2c, #444);
  }

  .step-card,
  .service-card,
  .testimonial-card .card-back,
  .testimonial-card .card-inner {
    background-color: #1e1e1e;
    color: #f1f1f1;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
  }

  .btn,
  .btn-cta,
  .btn-light {
    background-color: #2980b9;
    color: white;

    &:hover {
      background-color: #1f4068;
    }
  }

  a,
  .nav-item {
    color: #ffffff;

    &:hover {
      color: #ff6f61;
    }
  }

  .shop-photo {
    border-color: #ff6f61;
  }

  .download-app {
    background: linear-gradient(135deg, #222, #111);
  }
}
$primary: #00adb5;
.section-divider {
      width: 80%;
      height: 2px;
      margin: 6rem auto;
      background: linear-gradient(to right, transparent, $primary, transparent);
      box-shadow: 0 0 15px rgba($primary, 0.4);
      border-radius: 2px;
    }
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
